:root {
  --primary: #fff;
  --bg-color: black;
  --bg-envelope-color: #f5edd1;
  --envelope-tab: #ecdeb8;
  --envelope-cover: #e6cfa7;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #444;
  --heart-color: rgb(252, 8, 231);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: grid;
  place-items: center;
}

.container > .envelope-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
  transition: transform 1s ease-in-out;
  justify-content: center;
}

.container .envelope-wrapper .envelope {
  position: relative;
  width: 80vw;
  max-width: 400px;
  height: auto;
  aspect-ratio: 4 / 3;
}

.envelope-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid var(--envelope-tab);
  border-right: 200px solid transparent;
  border-left: 200px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}

.container .envelope-wrapper .envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border-top: 130px solid transparent;
  border-right: 200px solid var(--envelope-cover);
  border-bottom: 100px solid var(--envelope-cover);
  border-left: 200px solid var(--envelope-cover);
}

.envelope > .letter {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 100%;
  background-image: url("juliana-silva.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 20px;
}

.container .envelope-wrapper .envelope .letter .text {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--txt-color);
  text-align: center;
  font-size: 9px;
}

.heart {
  position: absolute;
  top: 66%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: var(--heart-color);
  z-index: 4;
  transform: translate(-50%, -20%) rotate(-45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 1px 6px var(--shadow-color);
  cursor: pointer;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--heart-color);
  border-radius: 50%;
}

.heart::before {
  top: -10px;
}

.heart::after {
  right: -10px;
}

.flap .envelope-wrapper {
  transform: translateY(50px);
}

.flap .envelope::before {
  transform: rotateX(180deg);
  z-index: 0;
}

.flap .envelope .letter {
  bottom: 150px;
  transform: scale(1.5);
  transition-delay: 1s;
}

.flap .heart {
  transform: rotate(45deg);
  transition-delay: 0.4s;
}

/* RESPONSIVE FIXES */
@media screen and (max-width: 600px) {
  .container .envelope-wrapper .envelope {
    width: 90vw;
    height: auto;
  }

  .envelope > .letter {
    width: 95%;
    height: auto;
    padding: 15px;
  }

  .heart {
    top: 70%;
    left: 50%;
    width: 15px;
    height: 15px;
  }
}
